<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #417690" >
{#<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #417690" >#}
  <a class="navbar-brand" href="/">数据分析</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item invisible">
        <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{% if 'shdky' in request.path_info %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          上海电科院
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href={% url "shdky:VTrainSimu" %}  >电压拟合</a>
          {#<a class="dropdown-item" href={% url "analytics_R:index" %}>R 教程</a>#}
          <a class="dropdown-item" href={% url "shdky:VSimu" %} >电流拟合</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">其他</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{% if 'modeling' in request.path_info %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          电厂机组监控
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=# >一号机组</a>
          <a class="dropdown-item" href=# >二号机组</a>
          {#<a class="dropdown-item" href={% url "modeling:simulation" %}>数据模拟</a>#}
          <a class="dropdown-item" href=# >三号机组</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=# >其他</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{% if '/stocksdemo/' in request.path_info %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          项目3
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href= # >上证指数 预测</a>
          <a class="dropdown-item" href= # >S&P500 预测</a>
         {# <a class="dropdown-item" href= {% url "stocksdemo:SP" %}>S&P500 预测</a> #}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href= # >其他</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if '/polls/' in request.path_info %} active{% endif %}" href=# >其他</a>
      </li>
{% comment %}
      <li class="nav-item">
        <a class="nav-link disable invisible" href={% url 'login' %}?next={{ request.path_info }}>Account Login</a>
      </li>
{% endcomment %}
    </ul>

    <ul class="navbar-nav pull-right">
    {% if user.is_authenticated %}
       <li class="nav-item">
          <a class="nav-link" href=# >{{user.username}}</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href={% url 'logout' %}?next={{ request.path_info }} >登出</a>
       </li>
    {% else %} 
       <li class="nav-item">
         {# <a class="nav-link" href="/admin/">登录</a>#}
         <a class="nav-link" href={% url 'login' %}?next={{ request.path_info }}>登录</a>
       </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/admin/">管理</a>
      </li>
    </ul>
  </div>
</nav>
<!-- end navbar -->
 
